<section id="about" class="section">
  <div class="container">
    <div class="about-content">
      <div class="profile-img">
        <img src="image.jpg" alt="Hilmi Wali Profile Picture">
      </div>
      <div class="about-text">
        <p>
          A recent Computer Science graduate with hands-on experience in both web and mobile development. I 
          have worked on real projects, gaining practical skills in and system development and testing. I enjoy 
          solving problems, exploring new technologies, and building user-focused applications. I am now seeking 
          a full-time role as a developer to apply my skills and continue growing in the tech industry.
        </p>
        <div class="resume-download-section">
          <a routerLink="/contact" class="resume-btn contact-btn">
            <i class="fas fa-envelope"></i> Get In Touch
          </a>
          <button class="resume-btn" (click)="downloadResume()">
            <i class="fas fa-file-pdf"></i> Download My Resume
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
